/* Track */
*::-webkit-scrollbar-track {
    background: linear-gradient(#87016a4d, #a200ff4d);
}
*::-webkit-scrollbar-track:hover {
    filter: brightness(10%);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d02fdf, transparent);
    border-radius: 20px;
    height: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #ea00ff, transparent);
}